@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {background: #f6f6f6;}
article {background: #fff;padding: 4px 20px;margin-bottom: 8px}
p.byline {font-size: 11px;font-family: 'Open Sans';	color: #999999;	text-transform: uppercase;line-height: 2.182;	text-align: left;	margin-bottom: 0;}
h1{	font-size: 25px;font-family: 'Open Sans';color: #000;line-height: 1.5;text-align: left;text-transform: uppercase;}
p, a {font-size: 16px; font-family: 'Open Sans';}